doctype
head
	title= page
	meta(charset = 'utf-8')
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	body
		.container
		h1=page
		hr
		ul.nav.nav-pills
		each link in links
			li: a(href=link)= link
		hr
		form(method= 'post' action='/new')
			fieldset
				.form-group
					label(for='pageurl') Page Url
					input#pageurl.form-control(name='pageurl' type='text')
				.form-group
					label(for='pagename') Page Name
					input#pageurl.form-control(name='pagename' type='text')
				.form-group
					label(for='pagecontent') Page Content
					input#pageurl.form-control(name='pagecontent' type='text')
				.form-group
					button.btn.btn-primary(type='submit') Add